.icon-s-clock{background-image:url(../img/sprite.png);background-position:0px -207px;width:69px;height:56px;}
.icon-s-close_modal{background-image:url(../img/sprite.png);background-position:-148px -207px;width:19px;height:19px;}
.icon-s-li{background-image:url(../img/sprite.png);background-position:-186px -207px;width:17px;height:10px;}
.icon-s-li_white{background-image:url(../img/sprite.png);background-position:-248px -191px;width:17px;height:10px;}
.icon-s-mark_gray{background-image:url(../img/sprite.png);background-position:-69px -227px;width:13px;height:18px;}
.icon-s-metro{background-image:url(../img/sprite.png);background-position:-167px -207px;width:19px;height:16px;}
.icon-s-no_cnt3{background-image:url(../img/sprite.png);background-position:-69px -207px;width:21px;height:20px;}
.icon-s-ob{background-image:url(../img/sprite.png);background-position:-109px -207px;width:19px;height:20px;}
.icon-s-phone_gray{background-image:url(../img/sprite.png);background-position:-82px -227px;width:13px;height:18px;}
.icon-s-phone_white{background-image:url(../img/sprite.png);background-position:-128px -207px;width:20px;height:19px;}
.icon-s-pl{background-image:url(../img/sprite.png);background-position:-90px -207px;width:19px;height:20px;}
.icon-s-red_sp1{background-image:url(../img/sprite.png);background-position:0px 0px;width:91px;height:69px;}
.icon-s-red_sp2{background-image:url(../img/sprite.png);background-position:-91px -138px;width:91px;height:69px;}
.icon-s-red_sp3{background-image:url(../img/sprite.png);background-position:0px -138px;width:91px;height:69px;}
.icon-s-red_sp4{background-image:url(../img/sprite.png);background-position:-182px -69px;width:91px;height:69px;}
.icon-s-red_sp5{background-image:url(../img/sprite.png);background-position:-182px 0px;width:91px;height:69px;}
.icon-s-red_sp6{background-image:url(../img/sprite.png);background-position:-91px -69px;width:91px;height:69px;}
.icon-s-red_sp7{background-image:url(../img/sprite.png);background-position:0px -69px;width:91px;height:69px;}
.icon-s-red_sp8{background-image:url(../img/sprite.png);background-position:-91px 0px;width:91px;height:69px;}
.icon-s-slider_link{background-image:url(../img/sprite.png);background-position:-248px -138px;width:20px;height:33px;}
.icon-s-video_link{background-image:url(../img/sprite.png);background-position:-182px -138px;width:66px;height:67px;}
.icon-s-yes_cnt3{background-image:url(../img/sprite.png);background-position:-248px -171px;width:21px;height:20px;}