body{
    overflow-x: hidden;
}
html { margin-top:0!important;}
.block_descr{padding-bottom:120px;}
a.see_more{cursor:pointer;}
.blue_change{width:100%;float:none;margin:0 auto}
#abs_cont.pos_a{display:block;float:none !important; width:inherit; right:0;text-align:right;}
div#content4:focus #abs_cont.pos_a{display:none;}
*{outline:0!important}
a.cnt6_link{display:block;width:100%;}
.error-404.not-found{text-align:center;padding:100px 0;}
.error-404.not-found .page-content{display:none;}
.hover_check{width:100%;height:80%;position:absolute;margin:0;margin:0 auto;}
#content1 .container{position:relative;}
body{padding-left:0 !important;padding-right:0 !important;}
div#lightcase-sequenceInfo{display:none !important;}

@font-face {
    font-family: 'Open Sans Bold';
    src: url("../fonts/OpenSans-Bold.eot");
    src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.woff") format("woff"),
        url("../fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url("../fonts/Ubuntu-Bold.eot");
    src: url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Ubuntu-Bold.woff2") format("woff2"),
         url("../fonts/Ubuntu-Bold.woff") format("woff"),
         url("../fonts/Ubuntu-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans.eot");
    src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"),
         url("../fonts/OpenSans.woff2") format("woff2"),
         url("../fonts/OpenSans.woff") format("woff"),
         url("../fonts/OpenSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Repivmanusc';
    src: url("../fonts/Repivmanusc.eot");
    src: url("../fonts/Repivmanusc.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Repivmanusc.woff2") format("woff2"),
         url("../fonts/Repivmanusc.woff") format("woff"),
         url("../fonts/Repivmanusc.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
#back_call_modal .modal-content{background-image:url(../images/modal_bg1.png);background-repeat:no-repeat;background-position:top center;position:relative;border:1px solid #999;border:none;border-radius:6px;padding:40px 95px;box-shadow:none !important;-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);box-shadow:0 3px 9px rgba(0,0,0,0.5);-webkit-background-clip:padding-box;background-clip:padding-box;background-color:transparent;outline:0;padding-bottom:200px;}
#thanks_modal .modal-content{background-image:url(../images/modal_bg1.png);background-repeat:no-repeat;background-position:top center;position:relative;border:1px solid #999;border:none;border-radius:6px;padding:40px 95px;box-shadow:none !important;-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);box-shadow:0 3px 9px rgba(0,0,0,0.5);-webkit-background-clip:padding-box;background-clip:padding-box;background-color:transparent;padding-bottom:200px;outline:0;}
#back_call_modal2 .modal-content{background-image:url(../images/modal_bg2.png);background-repeat:no-repeat;background-position:top center;position:relative;border:1px solid #999;border:none;border-radius:6px;padding:40px 95px;box-shadow:none !important;-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);box-shadow:0 3px 9px rgba(0,0,0,0.5);-webkit-background-clip:padding-box;background-clip:padding-box;background-color:transparent;outline:0;padding-bottom:200px;}
.modal-header{padding:15px;border-bottom:none;padding-bottom:0;}
.modal-body{position:relative;padding:15px;padding:0px 50px;}
.modal_txt{font-family:"Open Sans";font-size:15px;margin-top:20px;margin-bottom:5px;}
.hover-map:after{
	display:none;
	background: rgba(0, 0, 0, .5);
    content: '';
    height: 100%;
    width: 100%;
    z-index: 654;
    position: absolute;
    top: 0;

}

body #content1 .cnt1_block{
    width: 530px;
}
#abs_cont.pos_a{
    position: static;
}
#thanks_modal p.title.white{padding-top:70px;}
#thanks_modal p.modal_txt.white.thx_txt{padding-bottom:75%;}
#modal_form input, #modal_form2 input{font-size:15px;border-radius:25px;width:100%;min-height:40px;padding:0 15px;box-shadow:2px 2px 10px -8px inset;margin-top:10px;}
#modal_form .input-group, #modal_form2 .input-group{position:relative;display:table;border-collapse:separate;width:100%;}
#modal_form button,
#modal_form2 button{padding:0;margin:0;text-align:left;color:#fff;display:block;width:100%;border:none;margin-top:10px;text-align:center;font-size:15px;background-color:#0690e9;border-radius:90px;margin-bottom:40px;min-width:190px;padding:8px 0 12px 0;}
ul.nav.navbar-nav li{transition:.5s;}
ul.nav.navbar-nav li:hover{background-color:#1184D3;}
ul.nav.navbar-nav li:hover a{color:#fff !important;}
.hiddenInput{display:none;}
.list li{-webkit-transition:.5s;transition:.5s;border-radius:5px;}
a.acc_link{text-decoration:none !important;}
a, button{-webkit-transition:.5s;transition:.5s;}
a:hover{text-decoration:none;}
a.call_btn:hover,
a.arend:hover,
a.see_more:hover,
.yellow_btn:hover,
#btn_cnt8:hover,
a.map_call_back:hover,
a.f_call_back:hover, #btn_cnt5:hover,
a.f_req_info:hover{text-decoration:none;box-shadow:0px -1px 45px -20px #12f800 inset, 0px 5px 15px 0px #ddd;cursor:pointer;}
.icon{display:block;}
.navbar-default{background-color:transparent;border:none;margin:0;}
.container-fluid{margin:0;padding:0;}
.navbar-collapse{padding:0;}
.navbar-nav{display:table;width:100%;}
.navbar-nav > li{display:table-cell;float:none;padding-top:5px;text-align:center;border-right:#d6d3d3 1px solid;padding-bottom:5px;}
.navbar-nav > li:last-child{border-right:0;}
.navbar{min-height:30px;}
.navbar a{font-family:"Ubuntu Bold";text-transform:uppercase;color:#000 !important;opacity:1;}

.more_text {
    background-color: #fff;
    color: #000;
    text-align: left;
    position: absolute;
    min-width: 410px;
    border-radius: 5px;
    z-index: 99;
    border: 1px solid #3E76A5;
    line-height: 22px;
    padding: 20px;
    text-transform: none;
    display: none;
    transform: .5s;
}
.cnt7_close {position:absolute; right:5px;top:5px; font-size:21px;color:#0E8EE8;}
/*.cnt7_more:hover .more_text{display:block;opacity:1;}*/
.nav > li > a{padding:5px 10px;color:#000;}
.title, .title h3{font-family:"Ubuntu Bold";font-size:34px;color:#272727;}
.faq h4{font-family:"Ubuntu Bold";font-size:34px;text-align:left;color:#fff;}
.subtitle{font-family:Repivmanusc;font-size:30px;color:#272727;}
.subtitle p{font-family:"Open Sans Bold", Arial;font-size:14px;line-height:24px;font-weight:bold;letter-spacing:-1px;color:#272727;}
.time{background:url(../images/time.png) no-repeat 50px center;padding:5px 0 0 0;text-align:center;}
.time p{margin:0;}
body{font-family:"Open Sans", Arial;font-size:14px;padding-top:15px;background-color:#fff;}
body header .container{padding-right:0;}
body header .subtitle{margin:0;padding:0 0 0 15px;font-size:14px;text-align:left;line-height:21px;}
body header .phone{font-family:"Ubuntu Bold";color:#272727 !important;font-size:18px;line-height:21px;margin:0;width:50%;margin-right:10px;padding:0;margin-top:5px;}
header .col-md-7.phone p{margin-bottom:0;}
header .col-md-7.phone a{color:#272727 !important;}
body header .col-md-4, body header .col-md-7, body header .col-md-5{padding:0;}
body header a.call_btn{padding:0;margin:0;text-align:left;color:#fff;display:block;width:100%;font-size:15px;background-color:#0690e9;border-radius:90px;min-width:190px;padding:8px 0 12px 0;}
body header a.call_btn .icon-s-phone_white{float:left;margin:0 10px;margin-top:2px;}
body #menu{border-top:1px solid #d6d3d3;margin-top:10px;}
body #menu .container{padding:0;}
body #content1{background-image:url(../images/bg1.jpg);background-repeat:no-repeat;background-size:cover;background-position:top center;}
body #content1 .cnt1_block{
    left: 50%;
    margin-left: -265px;
    position:relative;
    margin-top:210px;
    margin-bottom:310px;
    z-index:1;    background-size: cover;
    background-color: #000;
    color: #fff;
}

body #content1 .cnt1_title h1 {
    text-align: center;
    background-color: #000;
    color: #fff;
    position: relative;
    display: inline-block;
    font-size: 28px;
    line-height: 32px;
    padding: 10px 10px;
    margin: 0;
    font-family: "Ubuntu Bold";
    text-transform: uppercase;
    width: 100%;
}
body #content1 .cnt1_title p{background-color:#000;color:#fff;position:relative;top:-40px;left:-40px;display:inline-block;font-family:Repivmanusc;font-size:32px;line-height:22px;padding:10px 15px;margin:-8px 0;padding-bottom:20px;padding-right:10px;}
body #content1 .cnt1_content{text-align:center; margin: 0 auto;}
body #content1 .cnt1_content p{padding:0 5%;font-size:15px;margin-top:5px;}
body #content1 .cnt1_content .icon-s-clock{text-align:center;display:block;margin:0 auto;margin-top:-30px;margin-bottom:15px;}
body #content1 .cnt1_content a.arend{display:block; text-decoration:none;text-align:center;font-family:"Ubuntu Bold";font-size:20px;color:#fff;background-color:#0690e9;border-radius:25px;max-width:235px;margin:0 auto;padding:8px 15px;margin-bottom:35px;margin-top:20px;}
body #content2{background-image:url(../images/container.jpg);background-repeat:no-repeat;background-position:108% 10%;}
/*@media (min-width:1200px){
    body #content2{background-image:url(../images/container.jpg);background-repeat:no-repeat;background-position:88% 10%;}
}*/
body #content2 .title{padding-left:15px;}
body #content2 .subtitle{padding-left:15px;line-height:20px;}
body #content2 .cnt2_content{padding-top:40px;}
body #content2 .cnt2_content .cnt2_right{clear:left;padding-top:10px;}
body #content2 .cnt2_content .cnt2_left{margin-bottom:10%;}
#content2 .cnt2_item{padding-right:10px;min-height:230px;}
#content2 .cnt2_item P{margin-bottom:0px;padding:0;}
.cnt2_item .icon{display:block;}
.cnt2_item .item_title{font-family:Ubuntu Bold;font-size:20px;padding-top:15px;line-height:24px;}
.cnt2_item .item_subtitle{font-size:15px;padding-top:5px;}
.it:hover .caption_image{opacity:1;}
.item_photo:hover .caption_image{opacity:1;}
.caption_image{position:absolute;top:45%;-webkit-transition:.5s;transition:.5s;opacity:0;margin:0 10%;width:80%;display:block;background-color:#fff;font-family:Ubuntu Bold;text-transform:uppercase;padding:10px 0;border-radius:25px;color:#0690e9;font-size:16px;text-align:center;box-shadow:0 0 15px #ddd;vertical-align:middle;line-height:16px;}
.white{color:#fff;}
#content3{background-image:url("../images/cnt4_bg.jpg");background-repeat:no-repeat;background-position:top center;padding-top:5.5%;background-size:cover;margin-top:20px;}
#content3 .title{line-height:40px;margin-bottom:3%;line-height:34px;}
#content3 .tbl1 table{width:65%;margin:0 auto;}
#content3 .tbl1 td.tbl_title{font-family:Ubuntu Bold;font-size:20px;text-transform:capitalize;text-align:center;}
#content3 .tbl1 tr{border-bottom:2px solid #E9D4AD;}
#content3 .tbl1 tr.first_tr{border:none;}
#content3 .tbl1 td{padding:5px 0;line-height:21px;padding-left:10px;font-size:15px;}
#content3 .tbl1 td.first_td{width:50%;}
#content3 .cnt3_sutitle.text-center{font-family:"Open Sans Bold", Arial;font-size:30px;margin-top:30px;text-align:center;}
i.icon.icon-s-yes_cnt3, i.icon.icon-s-no_cnt3{margin:0 auto;text-align:center;}
#content3 .tbl2 table{width:65%;margin:0 auto;}
#content3 .tbl2 tr{border-bottom:2px solid #E9D4AD;}
#content3 .tbl2 td.tbl_title{font-family:Ubuntu Bold;font-size:22px;text-transform:capitalize;text-align:center;}
#content3 .table_block.tbl2{margin-top:22px;text-align:center;margin-bottom:85px;}
#content3 td.first_td{width:25%;}
#content3 .tbl2 td{padding:5px 0;line-height:21px;padding-left:10px;font-size:16px;}
#content3 tr.mark_tr{background-color:#F1D8A8;font-weight:bold;font-family:'Open Sans Bold';color:#67ad1c;}
#content4 .title.text-right{display:inline-block;margin-top:20px;line-height:36px;text-align:right;background:#fff;padding:20px;margin-bottom:20px;}
#content4 .ch_descr_blc.col-md-3 p:first-child{padding:0;margin:0;}
#choose_metro{border:1px solid #0E8EE8;display:block;float:none;margin:10px auto;text-align:center;border-radius:5px;color:#000;width:355px;min-height:42px;box-shadow:0 0 100px 30px #fff, 0px 25px 175px #fff inset;}
#choose_metro{display:none;}
.col-md-6.choose{cursor:pointer;font-family:Ubuntu Bold;text-transform:uppercase;text-align:center;font-size:14px;padding:10px 0;}
.col-md-6.choose.active{background-color:#0E8EE8;color:#fff;}
#choose_scheme{clear:left;width:100%;display:none;padding-bottom:120px;}
.choose_description{clear:left;}
.m_title{float:left;font-size:15px;font-weight:bold;color:#000;line-height:30px;}
.m_variants{float:left;margin-left:20px;background-image:url("../images/hr_gray.png");background-size:inherit;background-repeat:repeat-x;background-position:center;}
.choose_metro.col-md-12{margin-top:75px;}
.numb_var{text-align:center;background-color:#fff;color:#fff;font-weight:bold;display:block;float:left;margin:0 17px;vertical-align:middle;padding:5px;cursor:pointer;border-radius:50%;border:1px solid transparent;}
p.numb{border-radius:50%;display:block;width:30px;height:30px;vertical-align:middle;padding:5px;margin:0;}
.v1{margin-left:0;}
.v1 p.numb{background-color:#EE162B;}
.v1.active_point, .v1:hover{border:1px solid #EE162B;}
.v1[data-balloon]:before{background-color:#EE162B;}
.v2 p.numb{background-color:#4CB15C;}
.v2.active_point, .v2:hover{border:1px solid #4CB15C;}
.v2[data-balloon]:before{background-color:#4CB15C;}
.v3 p.numb{background-color:#0572C9;}
.v3.active_point, .v3:hover{border:1px solid #0572C9;}
.v3[data-balloon]:before{background-color:#0572C9;}
.v4 p.numb{background-color:#00BDF9;}
.v4.active_point, .v4:hover{border:1px solid #00BDF9;}
.v4[data-balloon]:before{background-color:#00BDF9;}
.v5 p.numb{background-color:#7E5037;}
.v5.active_point, .v5:hover{border:1px solid #7E5037;}
.v5[data-balloon]:before{background-color:#7E5037;}
.v6 p.numb{background-color:#EF823E;}
.v6.active_point, .v6:hover{border:1px solid #EF823E;}
.v6[data-balloon]:before{background-color:#EF823E;}
.v7 p.numb{background-color:#8B429A;}
.v7.active_point, .v7:hover{border:1px solid #8B429A;}
.v2[data-balloon]:before{background-color:#4CB15C;}
.v8 p.numb{background-color:#FFCC00;}
.v8.active_point, .v8:hover{border:1px solid #FFCC00;}
.v8[data-balloon]:before{background-color:#FFCC00;}
.v9 p.numb{background-color:#9E9FA1;}
.v9.active_point, .v9:hover{border:1px solid #9E9FA1;}
.v9[data-balloon]:before{background-color:#9E9FA1;}
.v10 p.numb{background-color:#B9DB50;}
.v10.active_point, .v10:hover{border:1px solid #B9DB50;}
.v10[data-balloon]:before{background-color:#B9DB50;}
.v11 p.numb{background-color:#74C6CC;}
.v11.active_point, .v11:hover{border:1px solid #74C6CC;}
.v11[data-balloon]:before{background-color:#74C6CC;}
.v12{margin-right:0;}
.v12 p.numb{background-color:#B0BDE1;}
.v12.active_point, .v12:hover{border:1px solid #B0BDE1;}
.v12[data-balloon]:before{background-color:#B0BDE1;}
.choose_description{clear:left;margin-top:8%;float:left;position:relative;width:100%;}
p.metro_name{font-weight:bold;font-size:15px;margin-bottom:5px;}
p.metro_adr, p.metro_count, p.metro_free{margin-bottom:0px;}
span.green_count{color:#fff;font-weight:bold;margin-left:5px;background-color:#A4CC4B;padding:2px 8px;border-radius:5px;font-size:15px;}
span.phone_map{font-size:20px !important;font-family:Ubuntu Bold;margin-top:15px;margin-bottom:20px;}
p.metro_phone{font-family:Ubuntu Bold;font-size:20px;margin-bottom:5px;color:#000;}
a.metro_arend{text-transform:uppercase;font-weight:bold;font-size:15px;text-align:left;color:#0D8FE8;}
a.metro_arend:hover{text-decoration:underline;cursor:pointer;}
a.see_more{display:block;color:#fff;background-color:#0E8EE8;margin:0 auto;clear:left;text-align:center;max-width:240px;padding:10px;border-radius:25px;position:relative;font-size:15px;top:50px;}
#choose_map{display:none;clear:left;}
#content5{background-image:url("../images/cnt5_bg.jpg");background-repeat:no-repeat;background-position:top center;background-size:cover;padding-top:105px;}
#content5 .subtitle{line-height:32px;}
#content5 #cnt5_form{padding-left:15px;padding-right:0;}
#choose_sklad{border:1px solid #0E8EE8;display:block;float:left;margin:0 auto;text-align:center;border-radius:5px;color:#000;width:355px;}
.form_block.col-md-8.col-md-offset-2{margin-top:45px;margin-bottom:15%;padding:0;}
#cnt5_form input{font-size:15px;border-radius:25px;min-width:240px;min-height:40px;padding:0 15px;box-shadow:2px 2px 10px -8px inset;margin-top:5px;}
input#phone_cnt5{margin-left:10px;width:220px;}
button#btn_cnt5{color:#fff;border:none;background-color:#1184D3;border-radius:25px;padding:5px 10px;margin-left:5px;font-size:15px;width:240px;line-height:30px;margin-top:5px;}
#choose_company{display:none;}
#content6{background-image:url("../images/cnt6_bg.png");background-position:top center;background-size:cover;background-repeat:no-repeat;padding-bottom:340px;background-color:#E0EBED;}
#content6 .title{margin-top:50px;margin-bottom:15px;}
#content6 .choose_description .title{font-size:20px;margin-top:-15px;margin-bottom:5px;}
.list ul{padding-left:0px;}
.list li{list-style-type:none;padding:5px 10px 5px 10px;margin-left:-10px;cursor:pointer;border:1px solid transparent;}
.list li a{color:#000;border-bottom:1px dashed #aaa;font-size:15px;}
.list li:hover{color:#0E8EE8;border:1px solid #0E8EE8;border-radius:5px;}
.list li.active_list_link{color:#0E8EE8;border:1px solid #0E8EE8;border-radius:5px;}
.list li.active_list_link a{text-decoration:none;border-bottom:1px dashed #0E8EE8;color:#0E8EE8;}
.list li:hover a{text-decoration:none;border-bottom:1px dashed #0E8EE8;color:#0E8EE8;}
#content6 .col-md-3.col-md-offset-2{padding:0;margin-left:18%;width:28%;}
#content7{background-color:#E0EBED;}
#content7 .title{padding-left:10px;margin-bottom:3.5%;}
#content7 .cnt7_title{font-family:Ubuntu Bold;font-size:19px; white-space: nowrap;}
#content7 .img_container{min-height:195px;}
#content7 .cnt7_txt{padding-top:10px;min-height:120px;}
#content7 .pl, #content7 .ob{padding:0;line-height:20px;}
#content7 .pl{border-right:1px solid #aaa;width:auto;padding-right:15px;}
#content7 .icon.icon-s-pl, #content7 .icon.icon-s-ob{float:left;margin-right:5px;}
#content7 .col-md-6.ob{padding:0;padding-left:15px !important;}
#content7 .cnt7_more {float:left;clear:right;}
#content7 .cnt7_more a{text-transform:uppercase;font-weight:bold;margin-top:5px;padding-top:5px;}
p.price_day{display:block;float:left;clear:left;font-family:Ubuntu Bold;font-size:21px;margin-bottom:0;margin-top:15px;}
p.price_month{display:block;float:left;clear:left;font-family:Ubuntu Bold;font-size:22px;}
a.cnt7_arend{display:block;float:left;clear:left;text-align:center;background-color:#0E8EE8;color:#fff;padding:10px 28px;border-radius:25px;margin:0 15px;margin-left:0;-webkit-transition:.5s;transition:.5s;}
.cnt7_arend:hover{text-decoration:none;box-shadow:0px -1px 45px -20px #12f800 inset, 0px 5px 15px 0px #ddd;}
.col-md-4.cnt7_block{min-height:520px;margin-bottom:25px;padding:20px 25px 45px 25px;-webkit-transition:0.5s;transition:0.5s;}
#content7 .block4 .img_container, #content7 .block5 .img_container, #content7 .block6 .img_container{min-height:145px;}
.col-md-4.cnt7_block:hover{background-color:#FFFFFF;cursor:pointer;}
#content8{background-image:url("../images/cnt7_bg.jpg");background-repeat:no-repeat;background-position:top center;padding-top:155px;background-size:cover;margin-top:-25px;}
#content8 .title.white.text-left{line-height:34px;padding-top:10px;padding-bottom:10px;}
#content8 .cnt8_form_block{margin-top:45px;padding:0 10px;margin-bottom:12%;}
#cnt8_form input{font-size:15px;border-radius:25px;padding:0 15px;box-shadow:2px 2px 10px -8px inset;min-width:290px;min-height:45px;margin:2px auto;text-align:center;}
button#btn_cnt8{color:#fff;border:none;background-color:#1184D3;border-radius:25px;padding:12px 10px;margin-left:0;font-size:15px;margin-top:8px;width:290px;line-height:15px;padding-bottom:15px;}
#content9 .title{margin-top:50px;margin-bottom:20px;}
#content9 .item_answer{box-shadow:0px 0px 50px -17px #666;min-height:440px;position:relative;}
#content9 .owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d;margin:0 auto;text-align:center;}
#content9 .owl-item{padding:35px;}
p.answer_name{text-align:center;font-weight:bold;font-size:15px;padding-top:10px;font-weight:normal;padding-bottom:10px;}
.icon-s-slider_link_left{background-image:url(../img/sprite.png);background-position:-248px -138px;width:20px;height:33px;}
.icon-s-slider_link_right{background-image:url(../img/sprite.png);background-position:-248px -138px;width:20px;height:33px;-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1);}
.owl-nav{z-index:99;}
#content9 .owl-nav{width:100%;position:absolute;top:40%;height:1px;}
.owl-next{float:right;position:relative;right:-35px;}
.owl-prev{float:left;position:relative;left:-35px;}
#content9 i.icon.icon-s-video_link{margin:0 auto;text-align:center;}
.black{width:305px;height:200px;margin:0 auto;padding:50px;background-color:#000;}
#content10{padding-bottom:40px;background-image:url("../images/cnt11_bg.jpg");background-repeat:no-repeat;background-position:top center;background-size:cover;padding-top:5%;}
#content10 .owl-nav{width:100%;position:absolute;top:40%;height:1px;}
#content10 .title{margin-top:10px;margin-bottom:35px;}
#content10 .owl-carousel .owl-item img{display:block;width:90%;-webkit-transform-style:preserve-3d;margin:0 auto;text-align:center;}
#content10 .slide_photo{margin-bottom:5%;}
#content11{background-image:url("../images/cnt12_bg.png");background-repeat:no-repeat;background-position:top center;margin-top:0;background-size:cover;padding-top:125px;background-color:#f7f7ef;}
#content11 .panel-group .panel + .panel:first-child{margin-top:20px;}
#content11 .panel-body{padding-top:5px;padding-left:95px;}
#content11 .panel-heading{padding-top:10px;}
div#accordion{margin-top:55px;background-color:transparent;margin-bottom:70px;}
.panel.panel-default{background-color:transparent;color:#fff;border-radius:0;font-size:15px;border:none;border-top:1px solid #4d586e;}
.panel-default > .panel-heading + .panel-collapse > .panel-body{border-top-color:#4d586e;}
.panel-default > .panel-heading{background-color:transparent;color:#fff;font-family:Ubuntu Bold;}
h4.panel-title{font-size:21px;}
i.icon.icon-s-li_white, i.icon.icon-s-li{float:left;margin:5px 30px 20px;}
button.yellow_btn{color:#fff;border:none;background-color:#1184D3;border-radius:25px;padding:12px 10px;margin-left:0;font-size:15px;margin-top:8px;width:290px;}
.req-description{position:absolute;bottom:50px;left:0;background-color:#ececec;padding:25px 30px;box-sizing:border-box;text-align:left;z-index:9;}
.req-description .req-title{font-family:"Ubuntu Bold";font-size:22px;margin-bottom:20px;text-align:center;}
.req-content{font-size:12px;}
.req-description:after, .req-description:before{content:'';position:absolute;left:50px;bottom:-16px;border:8px solid transparent;border-top:8px solid #ececec;z-index:2;transition:all ease 0.1s;}
.map_description{background-color:#fff;padding:25px 30px;text-align:left;position:absolute;margin:0 20%;width:375px;margin-top:9.5%;z-index:9;}
.map_description .map_title{font-family:"Ubuntu Bold";font-size:22px;margin-bottom:10px;}
.map_description i.icon.icon-s-phone_gray, .map_description i.icon.icon-s-mark_gray{display:block;float:left;padding-bottom:40px;margin-right:10px;}
.map_description i.icon.icon-s-phone_gray{margin-top:6px;}
.map_description p.map_address{font-size:15px;}
.map_description p.map_phone{font-size:20px;}
.map_description p.map_phone a{color:#000;}
.map_description p.map_question{font-family:Repivmanusc;font-size:24px;}
.map_description a.map_call_back{color:#fff !important;border:none;background-color:#1184D3;border-radius:25px;padding:8px 10px;text-align:center;margin-left:0;font-size:15px;margin-top:0px;width:100%;float:left;padding-bottom:10px;}
.map_description a.map_call_back i.icon-s-phone_white{display:inline-block;margin-right:5px;margin-top:5px;margin-bottom:-4px;}
#map_main .ymaps-image-with-content { pointer-events: none;}
.wsp-container { box-sizing:border-box; padding:30px; min-width:300px; max-width:1170px; margin:0 auto;}

.to-up { position:fixed; display:block;z-index:1; font-size:30px;}
.to-up .affix-top { position:absolute;}
.to-up .affix { position:fixed; bottom:40px; right:20px;}
.to-up i { font-size:40px;}
.to-up a {color:#1184D3;}
.to-up a:after {content:"Наверх";position: absolute; left: -5px;bottom: -10px; display:inline-block; text-transform:uppercase; font-size:14px; }
.star {display: block; position: absolute;top:-20px; left: -20px; width: 173px; height: 173px; color: #fff; text-transform: uppercase;background: url(../images/star.png) no-repeat center;box-sizing: border-box;}
.star-text {display: table-cell; vertical-align: middle; font-size: 12px; text-align: center; font-family:'Open Sans Bold'; width: 170px; height: 170px; padding: 0 40px; }

footer{background-image:url(../images/footer_bg.png);background-repeat:no-repeat;background-position:top center;background-size:100%;margin-top:-95px;padding-top:105px;padding-bottom:20px;position:relative;}
footer .logo{padding:0;}
footer .subtitle_logo{padding:0;padding-top:15px;}
footer .orange_logo{text-align:center;}
footer .time{background:url(../images/time.png) no-repeat 30px center;padding:5px 0 0 50px;}
footer p.footer_phone{text-align:right;margin-top:20px;}
footer p.footer_phone a{color:#000;font-family:"Ubuntu Bold";font-size:22px;text-align:right;}
footer a.f_call_back{color:#fff !important;border:none;background-color:#1184D3;border-radius:25px;padding:8px 10px;text-align:center;margin-left:0;font-size:15px;margin-top:0px;width:85%;float:right;padding-bottom:10px;}
footer a.f_req_info{display:block;color:#fff !important;border:none;background-color:#89c028;border-radius:25px;padding:10px 30px 6px;text-align:center;margin-left:0;font-size:15px;margin-bottom:30px;width:85%;font-family:'Open Sans Bold';text-transform:uppercase;padding-bottom:10px;cursor:pointer;}
footer i.icon-s-phone_white{display:inline-block;margin-right:10px;margin-bottom:-4px;}
.req{position:relative;}
.f_req_info .fa-pencil{margin-right:10px;}
.store_address{position:relative;}
.f_store_address{cursor:pointer;}
.address-list{position:relative;margin:0;padding:0;list-style:none;}
.address-list li{border-bottom:#d4d4d4 1px dashed;padding:5px 0;margin-bottom:5px;}
.address-list li:last-child{border-bottom:none;margin-bottom:0;padding-bottom:0;}
.address-list li p{border-left:#0690e9 3px solid;padding:0 0 0 10%;}
.stores_address .req-description{left:50px;bottom:60px;}
.contact-line{padding-bottom:40px;margin-bottom:40px;border-bottom:#ececec 1px solid;}
.socials{text-align:center;}
#socials{padding:0;margin:0 auto;list-style:none;width:75%;}
#socials li{display:inline-block;vertical-align:top;padding:0 4% 20px;}
#socials i{color:#38a6ed;font-style:normal;font-size:30px;font-family:'FontAwesome';text-decoration:none;}
#socials i:hover{color:#89c028;text-decoration:none;}
#socials i.fa-e-mail{font-family:Ubuntu Bold;}
.stores_address, .site-map{margin:10px 0 0;padding-left:20%;}
.stores_address a, .site-map a{color:#000;font-size:15px;border-bottom:#0690e9 1px dashed;}
#info{padding:0;margin:0 auto;list-style:none;}
#info li{font-size:15px;line-height:24px;padding-bottom:10px;}
#info span{display:inline-block;width:25%;list-style:none;text-align:right;font-family:'Open Sans Bold';}
#info li a{font-size:15px;color:#000;}
#info i{color:#38a6ed;font-style:normal;font-size:15px;font-family:'FontAwesome';text-decoration:none;margin:0 10px;}
#info p{text-align:left;display:inline-block;vertical-align:top;width:50%;}
#footer_menu{margin-bottom:20px;margin-top:25px;border-top:1px solid #d6d3d3;border-bottom:1px solid #d6d3d3;}
#footer_menu .container{padding:0;}
#footer_menu .navbar-nav > li:first-child{padding-right:2%;}
#footer_menu li a{color:#fff;}
#cnt4_map, #cnt4_metro{cursor:pointer;}
.block_descr{display:none;}
.active_descr{display:block;}
.active_point[data-balloon]:after, .active_point[data-balloon]:before{opacity:1 !important;display:block;}
#map_main{min-height:660px;background-color:#eee;}
.pos_a{position:absolute;z-index:100;}
.pos_a .col-md-4.col-md-offset-4{}
.pos_a .title.text-center{position:relative;z-index:99;}
#mapkit-5588{height:678px;width:100%;display:block;}
#mapkit-5588 .md-subhead{background-color:#fff;color:#000 !important;font-weight:bold !important;padding-left:45px !important;font-family:Ubuntu Bold;font-size:18px !important;}
#mapkit-5588 .iw-details{font-size:15px;font-size:15px;font-family:Open Sans;}
#mapkit-5447{height:680px;width:100%;}
button[data-balloon]{overflow:visible;}
[data-balloon]{position:relative;}
[data-balloon]:before{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-khtml-opacity:0;-moz-opacity:0;opacity:0;pointer-events:none;-webkit-transition:all 0.18s ease-out 0.18s;transition:all 0.18s ease-out 0.18s;bottom:100%;left:50%;position:absolute;z-index:10;-webkit-transform:translate(-50%, 5px);-ms-transform:translate(-50%, 5px);transform:translate(-50%, 5px);-webkit-transform-origin:top;-ms-transform-origin:top;transform-origin:top;}
[data-balloon]:after{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-khtml-opacity:0;-moz-opacity:0;opacity:0;pointer-events:none;-webkit-transition:all 0.18s ease-out 0.18s;transition:all 0.18s ease-out 0.18s;bottom:100%;left:50%;position:absolute;z-index:10;-webkit-transform:translate(-50%, 10px);-ms-transform:translate(-50%, 10px);transform:translate(-50%, 10px);-webkit-transform-origin:top;-ms-transform-origin:top;transform-origin:top;font-size:15px;border-radius:4px;color:#000;content:attr(data-balloon);font-family:"Open Sans";padding:.5em 1em;white-space:nowrap;margin-bottom:30px;}
[data-balloon]:before{height:25px;width:1px;content:"";margin-bottom:5px;}
[data-balloon]:hover:before, [data-balloon][data-balloon-visible]:before, [data-balloon]:hover:after, [data-balloon][data-balloon-visible]:after{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1;pointer-events:auto;-webkit-transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);}
[data-balloon].font-awesome:after{font-family:FontAwesome;}
[data-balloon][data-balloon-break]:after{white-space:pre;}
[data-balloon-pos="down"]:before{bottom:auto;left:50%;top:100%;-webkit-transform:translate(-50%, -10px);-ms-transform:translate(-50%, -10px);transform:translate(-50%, -10px);}
[data-balloon-pos="down"]:after{bottom:auto;left:50%;top:100%;-webkit-transform:translate(-50%, -10px);-ms-transform:translate(-50%, -10px);transform:translate(-50%, -10px);margin-top:11px;}
[data-balloon-pos="down"]:before{background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;background-size:100% auto;height:6px;width:18px;margin-top:5px;margin-bottom:0;}
[data-balloon-pos="down"]:hover:before, [data-balloon-pos="down"][data-balloon-visible]:before, [data-balloon-pos="down"]:hover:after, [data-balloon-pos="down"][data-balloon-visible]:after{-webkit-transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);}
[data-balloon-pos="left"]:before{bottom:auto;left:auto;right:100%;top:50%;-webkit-transform:translate(10px, -50%);-ms-transform:translate(10px, -50%);transform:translate(10px, -50%);}
[data-balloon-pos="left"]:after{bottom:auto;left:auto;right:100%;top:50%;-webkit-transform:translate(10px, -50%);-ms-transform:translate(10px, -50%);transform:translate(10px, -50%);margin-right:11px;}
[data-balloon-pos="left"]:before{background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;background-size:100% auto;height:18px;width:6px;margin-right:5px;margin-bottom:0;}
[data-balloon-pos="left"]:hover:before, [data-balloon-pos="left"][data-balloon-visible]:before, [data-balloon-pos="left"]:hover:after, [data-balloon-pos="left"][data-balloon-visible]:after{-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);}
[data-balloon-pos="right"]:before{bottom:auto;left:100%;top:50%;-webkit-transform:translate(-10px, -50%);-ms-transform:translate(-10px, -50%);transform:translate(-10px, -50%);}
[data-balloon-pos="right"]:after{bottom:auto;left:100%;top:50%;-webkit-transform:translate(-10px, -50%);-ms-transform:translate(-10px, -50%);transform:translate(-10px, -50%);margin-left:11px;}
[data-balloon-pos="right"]:before{background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;background-size:100% auto;height:18px;width:6px;margin-bottom:0;margin-left:5px;}
[data-balloon-pos="right"]:hover:before, [data-balloon-pos="right"][data-balloon-visible]:before, [data-balloon-pos="right"]:hover:after, [data-balloon-pos="right"][data-balloon-visible]:after{-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);}
[data-balloon-length]:after{white-space:normal;}
[data-balloon-length="small"]:after{width:80px;}
[data-balloon-length="medium"]:after{width:150px;}
[data-balloon-length="large"]:after{width:260px;}
[data-balloon-length="xlarge"]:after{width:90vw;}
@media screen and (min-width:768px){
    [data-balloon-length="xlarge"]:after{width:380px;}
    .price_month{
        font-size: 18px;
    }

.info-company{margin-top:-50px;}
}
[data-balloon-length="fit"]:after{width:100%;}
.image_container{position:absolute;right: 0;top:255px;}



@media screen and (max-width:1500px){
    .img_fk1_blc,
    .image_container{
        margin-right: -200px;
    }
}

@media screen and (max-width:1380px){
    .img_fk1_blc,
    .image_container{
        margin-right: 0;
    }
}

#content6{position:relative;}
.closed{-webkit-transition:.5s;transition:.5s;opacity:1;}
.closed:hover{opacity:0.6 !important;}
.img_cont{display:none;}
.img_cont_blc{display:none;}
.img_cont.img_fk1{display:block;}
.img_cont.img_fk1_blc{display:block;}
#map{float:left;width:100%;height:655px;}
#map2{height:550px;width:100%;display:block; position:relative; z-index: 1000;}
.entry-header{/*display:none;*/}
@media (min-width:1200px) and (max-width:1380px){body #content1 .cnt1_content{width:350px;}
body #content1 .col-md-3.cnt1_block{
    width:530px;
    left: 50%;
    margin-left: -265px;

}
body #content2{background-image:url(../images/container.jpg);background-repeat:no-repeat;background-position:100% 10%;background-size:60%;}
.pos_a{margin:0 auto;margin-left:15px;}
img.img_cont.img_fk1{width:874px;height:415px;}
div.img_cont.img_fk1_blc{background-size:cover;}
.owl-next{right:0;}
.owl-prev{left:0;}
#content10 .owl-carousel .owl-item img{width:80%;}
}
@media (min-width:991px) and (max-width:1300px){.hover_check{width:95%;height:80%;position:absolute;margin:0;margin:0 auto;}
body header .subtitle{width:auto;margin:0 15% 0 2%;}
body header .col-md-4.col-md-offset-3{width:auto;float:right;margin-left:0;}
header .time, footer .time{display:none;}
.subtitle p{}
.navbar-nav > li:first-child{padding-right:0;padding-left:0;}
.navbar-nav > li:nth-child(2), .navbar-nav > li:nth-child(3){padding-left:1%;padding-right:1%;border-right:1px solid #d6d3d3;}
.navbar-nav > li:nth-child(4){padding-left:1%;padding-right:1%;border-right:1px solid #d6d3d3;}
body #content1 .cnt1_content{padding-right:0;width:350px;
    margin-left: auto;
    margin-right: auto;}
body #content1 .col-md-3.cnt1_block{
    width:530px;
    left: 50%;
    margin-left: -265px;
    background: #000;
    color: #FFFFFF;}
body #content2{background-position:115% 15%;background-size:70%;}
body #content2 .cnt2_content .cnt2_left{margin-bottom:5%;}
#content3{padding-top:8%;}
.m_title{float:left;font-size:15px;position:relative;font-weight:bold;color:#000;line-height:30px;top:-60px;}
.pos_a{margin:0 auto;}
#content5{padding-top:40px;background-size:135%;}
.form_block.col-md-8.col-md-offset-2{margin-top:45px;margin-bottom:115px;padding:0;width:85%;margin-left:10%;}
img.img_cont.img_fk1{width:695px;height:350px;}
div.img_cont.img_fk1_blc{background-size:cover;}
#content6{padding-bottom:180px;}
#content7 .title{padding-left:10px;margin-bottom:3.5%;padding-top:40px;}
.col-md-4.cnt7_block{padding:20px 10px 20px 10px;min-height:570px;}
#content7 .col-md-5.pl{width:100%;border-right:none;}
#content7 .col-md-6.ob{width:100%;padding-left:0 !important;}
#content8{margin-top:-65px;background-size:175%;}
#content9 .title{margin-top:0px;}
.owl-prev{left:-20px;}
.owl-next{right:-20px;}
#content9 .item_answer{min-height:100px;}
#content9 .owl-item{padding:10px;}
div#accordion{margin:0 auto;width:100%;margin-bottom:40px;margin-top:30px;}
footer{padding-bottom:40px;}
footer .col-md-3{width:32%;}
footer .col-md-6.orange_logo{width:35%;}
footer .col-md-2.footer-logo{float:none;margin:40px auto 20px;}

    .footer-logo img{
        max-width: 180px;
    }
.col-md-3.footer_call_back{float:none;margin:20px auto;}
}
@media (max-width:980px){.navbar-header{display:none;}
#abs_cont{position:relative;}
#abs_cont.pos_a{ margin-top:20px; position: static;}
#choose_metro, .blue_change {display:none;}
.choose_metro .m_title{font-family:"Open Sans Bold", Arial;font-size:30px;text-align:center;}
#menu { display:none;}
}
@media (max-width:767px){
    body header .container{padding-left:0;padding-right:0;

}
.hover-map:after{
	display:block;

}

#map2{height:400px;width:100%;display:block; position:relative;}
header .col-md-2 a{
    max-width: 240px;
    display: inline-block;
}
header .col-md-2.logo img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

header .col-md-2.logo,
footer .footer-logo{float:none;box-sizing:border-box;margin:0 auto;text-align:center;width:100%;}
footer .orange_logo{margin-bottom:30px;}
.col-md-3.subtitle{text-align:center;}
header .time, header .call-button,
footer .time, footer .footer_call_back{display:none;}
body header .col-md-7.phone{width:100%;text-align:center;}
header .col-md-7.phone p{margin-top:10px;}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form{border:none;}
.navbar-nav{margin:20px 0;}
ul.nav.navbar-nav li{display:block;border:none;border-bottom:#e7e7e7 1px solid;}
body #content1 .cnt1_block{
    width: 100%;
    margin-left: 0;
    left: 0;
    margin-top:30px;padding:20px 0;margin-bottom:50px;background-position:center;
}
body #content1 .cnt1_title h1{width:100%;left:0;padding:10px 30px;font-size:20px;line-height:28px;}
body #content1{background-image:url(../images/bg1.jpg);background-repeat:no-repeat;background-size:200%;background-position:70% bottom;height:350px;}
body #content1 .cnt1_block{background:none;}
body #content2 .title{padding-top:0;}
body #content2 .title h2{margin-top:0;}
body #content1 .cnt1_content{display:none;}
p.metro_phone{font-size:16px;margin-top:20px;}
.ch_descr_blc .icon-s-metro{margin:0 auto;}
.ch_descr_blc p{text-align:left;}
#content5 .subtitle{color:#fff;margin-top:20px;}
#content8 .cnt8_form_block{padding-bottom:20%;}
#content9 .title{margin-top:0;}
footer a.f_req_info{font-size:13px;width:100%;}
footer .socials{margin:30px 0 0}
#socials i{font-size:24px;}
#content4{/*overflow:hidden; height:300px; */ /*max-height:500px; */ }

}
@media (min-width:750px) and (max-width:990px){body header .container{padding-left:0;padding-right:0;}
header .col-md-2.logo,
footer .footer-logo{float:none;box-sizing:border-box;margin:0 auto;text-align:center;width:100%;}
footer .orange_logo{margin-bottom:30px;}
.col-md-3.subtitle{text-align:center;}
header .time, header .call-button,
footer .time, footer .footer_call_back{display:none;}
body header .col-md-7.phone{width:100%;text-align:center;}
header .col-md-7.phone p{margin-top:10px;}
.slider_answer, .slider_video, .slide_photo{width:80%;margin:0 auto;}
.hover_check{width:95%;height:80%;position:absolute;margin:0;margin:0 auto;}
#content9 .owl-nav{width:100%;position:absolute;top:28%;height:1px;}
.col-md-6.choose{cursor:pointer;font-family:Ubuntu Bold;text-transform:uppercase;text-align:center;font-size:14px;padding:10px 0;width:50%;float:left;}
header .col-md-2{width:15%;float:left;text-align:center;margin-top:30px;}
header .col-md-3.subtitle{width:100%;text-align:center;float:left;margin:10px auto 0;}
header .col-md-4.col-md-offset-3{float:right;width:35%;}
header .col-md-7.phone{display:block;width:100%;float:left;text-align:center;}
header .col-md-7.phone a{color:#000;}
header .col-md-5{width:100%;float:left;}
body header a.call_btn{display:block;width:200px;margin:0 auto;margin-top:10px;}
ul.nav.navbar-nav li a{font-size:12px;}
.navbar-nav > li:first-child{padding-right:0;padding-left:0;}
.navbar-nav > li:nth-child(2), .navbar-nav > li:nth-child(3){padding-left:0;padding-right:0;}
.navbar-nav > li:nth-child(4){padding-left:0;padding-right:0;}
.navbar-nav > li:nth-child(5){padding-left:0;padding-right:0;}
.navbar-nav > li:nth-child(6){padding-left:0;}
body #content1{min-height:500px;}
body #content1 .cnt1_block{background:none;background-repeat:no-repeat;background-position:center;padding-bottom:10px;margin-top:0;margin-bottom:150px;
    width: 530px;}
body #content1 .cnt1_title h1{width:100%;top:0px;left:0;text-align:left;padding:10px 30px;font-size:20px;line-height:28px;}
body #content1 .cnt1_content{display:none;}
.cnt1_title{margin-left: auto; margin-right: auto;}
body #content2 .title{padding-left:15px;margin-top:25px;}
body #content2{background-size:75%;background-position:50% 10%;}
body #content2 .cnt2_content{padding-top:300px;}
#content2 .cnt2_item{width:33.3333%;float:left;}
#content3{padding-top:10%;}
#content3 .tbl1 table{width:85%;margin:0 auto;}
#content3 .tbl2 table{width:85%;margin:0 auto;}
#content4 .col-md-4.col-md-offset-4{margin:0 auto;width:270px;}
#choose_metro{width:90%;}
#choose_scheme{clear:left;width:100%;padding-bottom:90px;margin-top:150px;}
.m_title{position:relative;top:-55px;}
.numb_var{margin:0 5px;}
.ch_descr_blc.col-md-3{width:25%;float:left;padding:5px;font-size:12px;}
p.metro_name{font-weight:bold;font-size:14px;margin-bottom:5px;margin-top:10px;}
p.metro_phone{font-size:16px;}
a.metro_arend{font-size:11px;}
#content5{padding-top:30px;}
.title{font-size:30px;}
#cnt5_form input{min-width:200px;}
#content6 .title{margin-top:50px;margin-bottom:15px;padding:0 20px;}
#content6 .col-md-4.col-md-offset-4{margin:0 auto;width:350px;}
#choose_sklad{width:350px;}
.pos_a{position:absolute;margin:0 auto;z-index:9999;}
img.img_cont.img_fk1{width:635px;height:289px;}
div.img_cont.img_fk1_blc{background-size:cover;}
.image_container{position:absolute;right:0;top:520px;}
#content6 .col-md-4.col-md-offset-1{width:auto;max-width:50%;}
#content7 .title{padding-left:10px;margin-bottom:30px;margin-top:25px;}
#content7 .col-md-4.cnt7_block{width:33%;float:left;padding:5px;font-size:13px;}
#content7 .cnt7_title{font-size:15px;}
#content7 .cnt7_txt{padding-top:10px;min-height:140px;}
#content7 .col-md-5.pl{width:100%;border-right:none;}
#content7 .col-md-6.ob{padding-left:0 !important;}
#content7 .img_container{min-height:170px;}
#content7 .img_container img{width:80%;}
.owl-prev{left:-45px;}
.owl-next{right:-45px;}
#content9 .owl-item{padding:10px;}
#content9 .item_answer{min-height:100px;}
.black{width:auto;height:auto;}
h4.panel-title{font-size:18px;}
footer .col-md-3{width:50%;float:left;padding-top:20px;}
footer .col-md-3{width:70%;}
footer .logo{width:40%;float:left;margin-top:18px;}
footer .subtitle_logo{padding:0;padding-top:16px;}
footer .col-md-3.footer_call_back{width:100%;margin:0;padding:0;text-align:center;}
footer p.footer_phone{text-align:center;margin-top:20px;}
footer a.f_call_back{width:200px;margin:0 auto;text-align:center;display:block;float:none;}
.contact-line{width:50%;}
footer a.f_req_info{width:100%;}
.socials{padding:40px 0 75px;}
}
@media (max-width:1050px){#footer_menu{display:none;}
footer{padding-bottom:20px;}
}

@media (max-width: 500px) {
    body #content2{
        background: none;
    }
}

@media (min-width:310px) and (max-width:450px){.col-md-3.subtitle{

float:none;margin-top:10px;}
#info span{width:30%;}
.ch_descr_blc{font-size:13px !important;}
a.metro_arend{font-size:12px !important;}
footer{margin-top:-60px;}
.hover_check{width:95%;height:80%;position:absolute;margin:0;margin:0 auto;}
.title.white.text-left{text-align:center;}
.cnt8_subtitle.white{text-align:center;}
#cnt8_form input{float:none;width:100% !important;margin:5px auto;min-width:100px;}
button#btn_cnt8{width:100%;min-width:100px;margin:0 auto;text-align:center;margin-top:10px;}
#content2 .cnt2_item P{text-align:center;}
.cnt2_item .icon{display:inline-block;}
.cnt2_item .item_title{text-align:center;}
#back_call_modal .modal-content, #back_call_modal2 .modal-content{padding:40px 10px;padding-bottom:125px;}
header .col-md-4.col-md-offset-3{float:left;width:100%;}
body header .phone{width:70%;}
header .col-md-2{padding:0;width:30%;float:left;}
.subtitle p{font-size:14px;}
body header .subtitle{padding:0;}
header .col-md-7.phone a{color:#272727;}
header .col-md-5{width:50%;margin-top:5px;}
.title{font-size:25px;line-height:24px;}
body #content2 .title{padding-left:15px;padding-bottom:10px;}
body #content2 .subtitle{padding-left:15px;line-height:30px;font-size:26px;}
body #content2{background-size:contain;background-position:50% 7%;}
body #content2 .cnt2_content .cnt2_left{margin-bottom:5%;}
body #content2 .cnt2_content{padding-top:2%;}
body #content2{
    background: none;
}
#content2 .cnt2_item{min-height:180px;}
body #content1 .cnt1_title p{top:-55px;left:-5px;}
#content3{padding-top:50px;margin-top:0;background-size:cover;}
#content3 .title{margin-bottom:30px;line-height:30px;font-size:21px;}
#content3 .tbl1 table, #content3 .tbl2 table{width:100%;}
#content3 .tbl1 td{padding:5px 0;padding-left:0px;font-size:14px;}
#content3 .tbl1 td.tbl_title{font-size:16px;}
#content3 .tbl2 td{padding-left:0;font-size:13px;}
#content3 .tbl2 td.tbl_title{font-size:18px;}
.pos_a{position:absolute;margin:0 auto;z-index:100;width:100%;}
#choose_metro, #choose_sklad{width:100%;}
#content5{padding-top:30px;}
input#phone_cnt5, button#btn_cnt5, input#name_cnt5{margin-left:0;width:220px;margin:5px auto;text-align:center;}
button#btn_cnt5{width:240px;}
#content5 #cnt5_form{padding-left:0;padding-right:0;width:65%;margin:0 auto;text-align:center;}
#content7{background-color:#E0EBED;padding-top:20px;}
#content7 .title{padding-left:10px;margin-bottom:3.5%;font-size:24px;}
.col-md-4.cnt7_block{min-height:610px;}
#content7 .col-md-5.pl{width:100%;border-right:none;}
.col-md-4.cnt7_block.block5, .col-md-4.cnt7_block.block6{margin-top:-50px;}
#content7 .col-md-6.ob{padding-left:0 !important;}
.more_text{background-color:#fff;color:#000;text-align:left;position:absolute;min-width:100%;border-radius:5px;left:0px;z-index:99;border:1px solid #3E76A5;line-height:22px;padding:20px 5px;text-transform:none;display:none;transform:.5s;}
#content8{background-position:top right;padding-top:20px;padding-bottom:40px;}
#cnt8_form .input-group{margin:0 auto;width:80%;}
.black{width:270px;height:165px;margin:0 auto;padding:50px;background-color:#000;}

#content11{padding-top:70px;}
div#accordion{padding:0;}
.panel-heading{padding:0;}
h4.panel-title{font-size:18px;margin-bottom:10px;}
#content11 .panel-body{padding:10px;padding-left:10px;}
i.icon.icon-s-li_white, i.icon.icon-s-li{float:left;margin:5px 30px;margin-bottom:25px;}
.map_description{background-color:#fff;padding:25px 30px;text-align:left;position:absolute;margin:0;width:92%;margin-top:10%;z-index:9;}
footer .logo.col-md-12{text-align:center;}
footer .subtitle_logo.col-md-12{text-align:center;}
footer .col-md-6.orange_logo{padding-top:10px;}
footer .col-md-3.footer_call_back .footer_phone{text-align:center;display:block;margin:10px auto;}
footer a.f_call_back{color:#fff !important;border:none;background-color:#1184D3;border-radius:25px;padding:6px 10px;text-align:center;margin-left:0;font-size:15px;margin-top:0px;width:70%;margin:0 auto;display:block;float:none;padding-bottom:10px;}
body #menu, #footer_menu{border-top:1px solid #d6d3d3;margin-top:20px;width:100%;padding:0 20px;}
ul.nav.navbar-nav li{transition:.5s;text-align:center !important;width:100%;}
#choose_scheme{margin-top:80px;}
.m_title{float:left;font-size:15px;font-weight:bold;color:#000;line-height:30px;position:relative;top:-55px;text-align:center;width:100%;}
.numb_var{margin:0 2px 30px 2px !important;}
[data-balloon]:after{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-khtml-opacity:0;-moz-opacity:0;opacity:0;pointer-events:none;-webkit-transition:all 0.18s ease-out 0.18s;transition:all 0.18s ease-out 0.18s;bottom:25% !important;left:0;width:100% !important;display:block;position:absolute;z-index:10;-webkit-transform:translate(-50%, 0px);-ms-transform:translate(-50%, 0px);transform:translate(-50%, 0px);-webkit-transform-origin:top;-ms-transform-origin:top;transform-origin:top;font-size:15px;border-radius:4px;color:#000;content:attr(data-balloon);font-family:"Open Sans";padding:.5em 1em;white-space:nowrap;margin-bottom:30px !important;}
[data-balloon]:before{display:none !important;}
.m_variants{float:left;margin-left:0;display:block;background-image:none;width:90% !important;}
.v6:after{left:-50px;}
.v7:after{margin-left:-135px;width:100% !important;text-align:center;display:block !important;left:100%;}
.image_container{position:relative;right:0;top:20px;}
img.img_cont.img_fk1{width:100%;position:relative;}
#content6{padding-bottom:30px;}
.owl-prev{left:10px;}
.owl-next{right:10px;}
#content10 .owl-carousel .owl-item img{display:block;width:70%;}
#content9 .item_answer{box-shadow:0px 0px 50px -17px #666;min-height:100px;position:relative;width:85%;margin:0 auto;}
}
@media (min-width:500px) and (max-width:750px){
body #content1 .cnt1_block{margin-top:20px;}
body #content1 .cnt1_title h1{top:-20px;text-align:left;}
body #content1 .cnt1_block{background:none;}
.contact-line{padding-bottom:20px;margin-bottom:20px;}
.hover_check{width:95%;height:80%;position:absolute;margin:0;margin:0 auto;}
.slider_answer, .slider_video{width:80%;margin:0 auto;}
.slide_photo{width:80%;margin:0 auto;margin-bottom:5%;}
#back_call_modal .modal-content, #back_call_modal2 .modal-content{padding:40px 20%;}
header .col-md-2{width:50%;float:left;}
.col-md-3.subtitle{width:50%;float:left;clear:left;padding:0 15px;margin-top:5px}
.col-md-3.subtitle p{line-height:30px;}
.col-md-4.col-md-offset-3{width:50%;FLOAT:right;margin-top:-40px;}
.col-md-7.phone{width:100%;margin-bottom:10px;text-align:right;padding-right:30px;}
header .col-md-5{width:60%;float:right;margin-right:20px;}
body #content1 .cnt1_block{background-image:none;position:relative;margin-top:0;}
#content1 .cnt1_content{padding-top:10px;}
#content1 .cnt1_title{width:80%;text-align:center;padding:0 20px;}
body #content2 .title{margin-top:20px;}
#content2 .col-md-3.cnt2_item{width:50%;float:left;min-height:185px;}
body #content2{background-size:65%;background-position:50% 10%;}
body #content2 .cnt2_content{padding-top:43%;}
body #content2 .cnt2_content .cnt2_left{margin-bottom:5%;}
#content3{padding-top:55px;margin-top:0;}
.title{font-family:"Ubuntu Bold";font-size:25px;}
#content3 .tbl1 table, #content3 .tbl2 table{width:90%;margin:0 auto;}
#content3 .tbl1 td.tbl_title{font-size:16px;}
#content3 .table_block.tbl2{margin-bottom:30px;}
#choose_metro{float:none;width:355px;}
.m_title{float:left;font-size:15px;font-weight:bold;color:#000;line-height:30px;position:relative;top:-60px;text-align:center;width:100%;}
.col-md-6.choose{cursor:pointer;font-family:Ubuntu Bold;text-transform:uppercase;text-align:center;font-size:14px;background-color:#fff;padding:10px 0;}
.numb_var{margin:15px 5px;}
[data-balloon]:after{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-khtml-opacity:0;-moz-opacity:0;opacity:0;pointer-events:none;-webkit-transition:all 0.18s ease-out 0.18s;transition:all 0.18s ease-out 0.18s;bottom:25% !important;left:0;width:100% !important;display:block;position:absolute;z-index:10;-webkit-transform:translate(-50%, 0px);-ms-transform:translate(-50%, 0px);transform:translate(-50%, 0px);-webkit-transform-origin:top;-ms-transform-origin:top;transform-origin:top;font-size:15px;border-radius:4px;color:#000;content:attr(data-balloon);font-family:"Open Sans";padding:.5em 1em;white-space:nowrap;margin-bottom:30px !important;}
[data-balloon]:before{display:none !important;}
.m_variants{float:left;margin-left:0;background-image:none;}
.v6:after{left:-50px;}
.choose_description{margin-top:3%;}
.ch_descr_blc.col-md-3{width:50%;float:left;margin:10px 0;}
#content5{padding-top:50px;}
#content5 #cnt5_form{padding-left:15px;padding-right:0;width:45%;margin:0 auto;}
input#phone_cnt5{margin-left:0;}
button#btn_cnt5{margin-left:0;}
.form_block.col-md-8.col-md-offset-2{margin-top:45px;margin-bottom:5%;padding:0;}
#content6 .title{margin-top:20px;margin-bottom:15px;}
#choose_sklad{float:none;}
.image_container{position:relative;right:0;top:20px;}
img.img_cont.img_fk1{width:100%;}
#content6{padding-bottom:0px;}
#content7{padding-top:25px;padding-bottom:75px;}
#content7 .title h3{font-size:24px;text-align:center;}
.col-md-4.cnt7_block{width:50%;float:none;margin:0 auto;min-height:610px;padding-bottom:20px;}
#content7 .pl{border-right:none;width:100%;}
#content7 .col-md-6.ob{width:100%;padding-left:0 !important;}
#content7 .cnt7_title{font-size:17px;}
#content8{padding-top:165px;margin-top:-100px;}
#content9 .item_answer{box-shadow:0px 0px 50px -17px #666;min-height:100px;position:relative;}
.owl-prev{left:-55px;width:30px;}
.owl-next{right:-55px;width:30px;}
#content9 .owl-nav{top:30%;}
#content9 .owl-item{padding:0;}
.black{width:185px;height:165px;margin:0 auto;padding:50px;background-color:#000;}
#content10{padding-bottom:0;}
#content11{padding-top:65px;}
div#accordion{margin-top:20px;background-color:transparent;margin-bottom:35px;}
h4.panel-title{font-size:17px;}
.navbar{min-height:30px;width:95%;}
footer{padding:30px 0;width:50%;margin:0 auto;}
footer .socials{margin:40px 0 20px;}
footer .logo.col-md-12{width:50%;float:left;margin-top:15px;}
footer .orange_logo{text-align:center;padding-top:20px;width:28%;float:left;}
.col-md-3.footer_call_back{width:60%;float:right;margin-top:-15px;}
footer p.footer_phone{text-align:center;margin-top:20px;}
footer a.f_call_back{color:#fff !important;border:none;background-color:#1184D3;border-radius:25px;padding:8px 10px;text-align:center;margin-left:0;font-size:15px;margin-top:0px;width:70%;float:left;padding-bottom:10px;margin-left:50px;}
footer .orange_logo{float:none;width:100%;}
footer .col-md-3.subtitle{text-align:center;width:100%;}
}
@media (min-width:320px) and (orientation:landscape){a.metro_arend{float:left;}
}
#owl-carousel_video .owl-nav{display:block;}
.ballon{padding:25px;width:300px;height:170px;line-height:24px;float:left;text-align:left;color:#000;background-color:#fff;position:absolute;font-family:"Open Sans", Arial;}
.ballon img.ll{float:left;width:60px;height:60px;margin:0 5px 5px 0;border-radius:0;}
.ballon span{font-size:16px;font-weight:bold;}
.ballon p{font-size:14px;}
.ballon .close{position:absolute;float:left;width:30px;font-size:15px;font-weight:bold;top:0;right:0px;cursor:pointer;}
.ballon .close:hover{color:#ccc;}
@media (max-width:330px){.col-md-3.subtitle{padding-left:0;width:100%;padding-top:10px;}
body header a.call_btn{padding:0;margin:0;text-align:left;color:#fff;display:block;width:100%;font-size:15px;background-color:#0690e9;border-radius:90px;min-width:190px;padding:10px 0 12px 0;line-height:10px;}
body header a.call_btn .icon-s-phone_white{float:left;margin:0 10px;margin-top:-5px;}
body #content1 .cnt1_title p{background-color:#000;color:#fff;position:relative;top:-40px;left:-40px;display:inline-block;font-family:Repivmanusc;font-size:25px;line-height:30px;padding:10px 15px;margin:-10px 0;padding-bottom:15px;padding-right:10px;}
#content3 .tbl1 td.tbl_title{font-size:14px;}
#content3 .tbl2 td.tbl_title{font-size:12px;}
#content3 .tbl2 td{padding-left:0;font-size:9px;}
#content3 .cnt3_sutitle.text-center{font-family:Repivmanusc;font-size:23px;margin-top:15px;text-align:center;}
#content3 .table_block.tbl2{margin-top:22px;text-align:center;margin-bottom:20px;}
#content4 .title{font-size:20px;line-height:28px !important;line-height:24px;}
#content5 #cnt5_form{padding-left:0;padding-right:0;width:100%;text-align:center;float:none;margin:0 auto;}
input#phone_cnt5, button#btn_cnt5, input#name_cnt5{margin-left:0;width:250px;margin:5px auto;text-align:center;float:none;}
.input-group{position:relative;display:table;display:block;border-collapse:separate;}
.subtitle{font-family:Repivmanusc;font-size:25px;color:#272727;}
.col-md-4.cnt7_block.block3{margin-top:20px;float:left;}
.col-md-4.cnt7_block.block5{margin-top:-55px;float:left;}
.col-md-4.cnt7_block.block6{float:left;}
#content7 .title{padding-left:10px;margin-bottom:3.5%;font-size:20px;}
.img_container img{width:90%;}
.col-md-4.cnt7_block{min-height:610px;padding:0;float:left;}
#content7 .cnt7_title{font-family:Ubuntu Bold;font-size:18px;}
.col-md-4.cnt7_block.block1{margin-top:40px;}
.col-md-4.cnt7_block.block2{margin-top:30px;}
.col-md-4.cnt7_block.block4{float:left;margin-top:10px;}
.col-md-4.cnt7_block.block6{float:left;margin-top:-65px;}
#content8{margin-top:-80px;}
#content9 .owl-item{padding:10px;}
.map_description a.map_call_back, footer a.f_call_back{font-size:13px;}
}
@media (min-width:1500px) and (max-width:1900px){
    /*body #content2{
        background-size:45%;
    }*/
    #content6 .col-md-4.col-md-offset-1{margin-left:0%;width:30%;}
}

.active-modal{
    opacity: 1;
    display:block;
    background: rgba(0, 0, 0, .5);

}
.modal-dialog{

        margin-top: 150px;
}
.main-sale{
    position: absolute;
    top: 96px;
    color: #fff;
    left: 164px;
    font-weight: 700;
    transform: rotate(5deg);
    background: #e53935;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
    display: block;
    padding: 4px;

}
.modal-content{
    padding-bottom:25px;

    z-index:999;
        background: transparent;
    box-shadow: none;
    border: none;
}
.modal-body{
    text-align:center;
    color:#fff;
}
.modal-body h3 {

        line-height: 1.5;
}
.modal-footer-1{
    text-align:right;
    padding:20px;

}
.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}
.dev-logo{

    width:160px;

}
.modal-star{
    background-size: contain;
    width: 420px;
    height: 407px;
    text-align: center;
}
.star-text-2{
        text-align: center;
        display: inline-block;
        margin-top: 136px;
        font-size: 22px;
        width: 363px;
}
.modal-btn{
    position: relative;
    top: -19px;
}
.big-modal-text{
    font-size:33px;
    font-weight: 900;
	display: inline-block;

}

#more-map{
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: "Ubuntu Bold";
    font-size: 20px;
    color: #fff;
    background-color: #0690e9;
    border-radius: 25px;
    max-width: 235px;
    margin: 0 auto;
    padding: 8px 15px;
    margin-bottom: 35px;
    margin-top: 20px;
    border: none;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translateX(-50%)
	           translateY(-50%);

	z-index:700;
}

#drop-text{
    max-height: 315px;
    overflow: hidden;
    transition: 1s ease;

}
.active-drop{
    max-height: 1500px !important;

}
#drop-btn{

    color: #fff;
    border: none;
    background-color: #1184D3;
    border-radius: 25px;
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 15px;
    width: 240px;
    line-height: 30px;
    margin-top: 5px;
    text-transform: uppercase;
}
#drop-btn:hover{
    transition: .3s ease;
    text-decoration: none;
    box-shadow: 0px -1px 45px -20px #12f800 inset, 0px 5px 15px 0px #ddd;
    cursor: pointer;
}

}
